In [1]:
import pandas as pd

In [8]:
df = pd.read_excel('C:\\Users\\Sunshine\\Desktop\\Data Analysis\\weather_data.xlsx', 'Sheet1')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [10]:
#creating data frame using 'Dictionary'
weather_data = {
    'day':['2017-01-01', '2017-01-02', '2017-01-03'] ,
    'temperature':[32, 35, 28],
    'windspeed':[6, 7, 2],
    'event':['Rain', 'Sunny', 'Snow']
}

df = pd.DataFrame(weather_data)
df

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow

In [13]:
#creating data frame using 'Tuple list'
my_weather_data = [
    ('2017-01-01', 32, 6, 'Rain'),
    ('2017-01-02', 35, 7, 'Sunny'),
    ('2017-01-03', 28, 7, 'Snow')
]

df = pd.DataFrame(my_weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          7   Snow

In [15]:
#creating data frame using 'Dictionary list'
my_weather_data = [
    {'day':'2017-01-01', 'temperature':32, 'windspeed':6, 'event':'Rain'},
    {'day':'2017-01-02', 'temperature':35, 'windspeed':7, 'event':'Sunny'},
    {'day':'2017-01-03', 'temperature':28, 'windspeed':7, 'event':'Snow'}
]
df = pd.DataFrame(my_weather_data)
df

          day  event  temperature  windspeed
0  2017-01-01   Rain           32          6
1  2017-01-02  Sunny           35          7
2  2017-01-03   Snow           28          7